*{
    margin: 0;
}

/* mobile first */

/* estilos generales*/

body{
    background-color:rgb(6, 150, 177);;
}


/* Header start */



.contenedorLogo{
    border: 3px solid rgb(238, 6, 6);
}

.menu{
    border: 3px solid rgb(231, 231, 11);
}

ul{
    list-style: none;
    padding-inline-start: 0;
}

li{
    border: 3px solid rgb(100, 24, 193);
    text-align: center;
    margin-top: 15px;
}

li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    /*
    body{
        background-image: none;
        background-color: aqua;
        
    }
    */
    header{
        display: flex;
    }

    .menu{
        width: 100%;
        
    }

    ul{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    li{
        margin-top: 0;
    }
}

